

h1 {
    background-color:purple;
    font-family:'Roboto', sans-serif;
    color:white;
    text-align:center;
    height:35px;
    padding:50px;
}

a {
    color:red;
    font-family:'Roboto', sans-serif;
    font-size:120%;
    font-weight: bold;
}
h2 {
    color:green;
    font-family: 'Roboto', sans-serif;
}

ul {
    color:green;
    font-family: 'Roboto', sans-serif;
    list-style-type: square;
    font-size:110%;
}

p {
    color:green;
    background-color:pink;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 350px;
}
q {
    font-size: 80%;
}
h3 {
    color:green;
    border-bottom:1px solid grey;
}

ol li {
    color:green;
    font-size: 130%;
    background-color: pink;
}

li {
    border-bottom:4px solid white;
}

li a {
    font-size: 50%;
}

em {
    font-family: 'Roboto', sans-serif;
    color:green;
}

caption {
    font-family: 'Robot', sans-serif;
    font-size: 110%;
}

table thead {
    font-family: 'Robot', sans-serif;
    border-bottom:4px solid purple;
}

table tfoot {
    border-top:4px solid purple;
    font-style: italic;
}

td {
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 10px;
    max-width: 150px;
}

table tr {
    padding-left: 100px;
}

table {
    border-collapse: collapse;
    color:green;
    font-family:'Robot', sans-serif;
    font-size: 110%;
}

fieldset {
    background-color: pink;
    font-family:'Robot', sans-serif;
    border-color: white;
    max-width: 500px;
    font-size: 110%;
    text-align: center; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

fieldset label {
    color:green;
    align-content: center;
}

fieldset input {
    margin-top:20px;
}


fieldset legend {
    color:green;
    text-align: left;
}


legend {
    color:green;
}

fieldset h1 {
    font-family:'Robot', sans-serif;
    color: green; 
    background-color:pink;
    font-size: 150%;
    max-height:1px;
    margin-top:0%;
    margin-bottom:0%;
}

fieldset div {
    font-size: 75%;
    font-weight: bold;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

input[type=range] {
    width: 50%;
    height: 5px;
    cursor: pointer;
    background: white;
    opacity: 50%;
    border-color: white;
    -webkit-appearance: none;
}

fieldset fieldset fieldset legend {
    color: blue;
}

